# Python cache
__pycache__/
*.pyc
Backend/__pycache__/
Backend/engine/__pycache__/
Backend/pipeline/__pycache__/

# Virtual environments
venv/
.venv/
env/

# Database
*.db
Backend/data/internships.db

# VS Code
.vscode/

# Output files
Backend/output/output.json

#exclude ppt
*.pptx

UI Format/
* text=auto