# Python cache
__pycache__/
*.pyc
Backend/__pycache__/

# Virtual environments
venv/
.venv/
env/

# Database
*.db
Backend/Data/internships.db

# VS Code
.vscode/

# Output files
Backend/Output/output.json

#exclude ppt
*.pptx

UI Format/
* text=auto